.DuoGamiLink {
  text-decoration: none;
  color: inherit;
}

.DuoGami {
color: #314FF8;
text-align: center;
font-family: Masada;
font-size: 56px;
font-style: normal;
font-weight: 550;
line-height: normal;
}
