.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.container h1 {
  border-bottom: 2px solid #eee;
  padding-bottom: 0.5rem;
}

.container h2 {
  font-weight: 400;
  color: #333;
}

/* Helper message for HTTP errors */
.error {
  color: #d90429;
  font-weight: bold;
  background-color: #ffccd5;
  border: 1px solid #d90429;
  padding: 1rem;
  border-radius: 8px;
}

/* Grid for the art cards */
.grid {
  display: grid;
  /* Creates a responsive grid */
  /* This will create 3 columns on wider screens, and fewer on smaller ones */
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  justify-items: center; /* Center items within their grid cell */
}

/* Styling for the ArtItem component */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 100%; /* Ensure card takes full width of the grid column */
  background-color: #fff;
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack children vertically */
  height: 500px; /* Set a fixed height for all cards */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.cardImage {
  width: 100%; /* Make image responsive to card width */
  height: 300px;
  object-fit: cover;
  background-color: var(--color-background);
}

.imagePlaceholder {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--color-background);
  color: var(--color-secondary);
  font-style: italic;
}

.cardContent {
  padding: 1rem;
  flex-grow: 1; /* Allow content to fill remaining space */
  overflow: hidden; /* Hide any overflowing text */
}

.cardContent h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.cardContent p {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: black;
}

.cardContent p strong {
  color: var(--color-text);
}

.cardLink {
  color: inherit;
  text-decoration: none;
  width: 100%; /* Make the link fill the grid cell */
}